
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





@font-face{
    src: url(fonts/ABCProphetEdu-Regular.otf);
    font-family: prophet;
    
        
}


    
div{
    min-width: 860px;
}

body{
    margin-left: auto;
    margin-right: auto;
    font-family: prophet;
     text-align: center;
     max-width:1920px;
    min-width: 860px;
    background-color: floralwhite;
}


header{
    font-size: 62px;
    letter-spacing: 1.1px;
    line-height: 62px;
    color: white;
    background-color: dodgerblue;
    background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
    padding: 40px 0 36px 30px;
    
}

.intro{
     color: mediumblue;
     background-image:url(https://live.staticflickr.com/8437/8007108915_856f35f271_b.jpg );
    background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
    background-position: 0 17%;
    font-size: 36px;
    line-height: 40px;
    padding: 30px 30px 30px 30px;
    
}
    
nav{
    background-color: dodgerblue;
    word-spacing: 20px;
    letter-spacing: 1px;
    font-size: 32px;
    padding: 30px 0 30px 30px;
    
    
}
h2{

    border-bottom: 2px solid red;
    color: red;
    font-size: 32px;
    padding: 30px 0px 30px 0; 
}
.places{
    
    color: red;
    text-align: match-parent;
    font-size: 24px;
    padding: 0 0px 10px 0
}
h3{
    min-width: 860px;
    border-bottom: 2px solid red;
    padding: 15px 0 30px 0
}
p{
    padding: 20px 0 0 0
}

footer{
    color:red;
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 25px 0;

}
a{
  text-decoration: none;
  color:black;
  transition: color 0.5s;
  text-transform: uppercase;
}
header a{
    color: white;
}
.intro a{
    color: mediumblue
}
nav a{
    color:white;
}
a:hover{
  color:#ed2828
}

